NEXT_PUBLIC_SUPABASE_URL=https://vgxjobyfbpzriofcbcis.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

AIRFI_MODBUS_HOST=192.168.50.26
AIRFI_MODBUS_PORT=502

AIRTHINGS_CLIENT_ID=
AIRTHINGS_CLIENT_SECRET=
AIRTHINGS_DEVICE_SERIAL=
